*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: white;
    overflow-x: hidden;
}

header{
    height: 55px;
}
 
.container{
    width: 100vw;
    padding: 70px 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.produtos-pages{
    min-height: calc(100vh - 60px);
}

footer{
    height: 60px;
}

.center{
    justify-content: center !important;
}

.back i{
    position: absolute;
    top: 15px;
    left: 2%;
    font-size: 22px;
    color: white;
}

.slide{
    width: 250px;
    height: 300px;
    display: flex;
    overflow-x: hidden;
    position: relative;
    align-items: center;
    overflow-y: hidden;
    border-right: 1px solid #ccc;
    background: linear-gradient(50deg, #eeeeee 50%, rgb(255, 255, 255) 50%);
}

.slide img{
    width: 100%;
    user-select: none;
}

.produto-expecifico{
    width: 251px;
    border: 1px solid #ccc;
    margin: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.info,.preco{
    font-size: 18px;
    font-family: sans-serif;
    padding: 5px;
}

.btn-carrinho{
    padding: 10px 15px;
    margin: 10px 5px;
    border: 1px solid green;
    background-color: green;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    transition: all 0.2s;
}

.btn-carrinho:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.left-slide{
    display: none;
    position: absolute;
    width: 20px;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    font-size: 27px;
    cursor: pointer;
    transition: all .2s;
    user-select: none;
}
.right-slide{
    display: none;
    position: absolute;
    width: 20px;
    height: 200px;
    left: 230px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    font-size: 27px;
    cursor: pointer;
    transition: all .2s;
    user-select: none;
}

.left-slide:hover{
    background-color:rgba(0, 0, 0, 0.774);
}
.right-slide:hover{
    background-color:rgba(0, 0, 0, 0.774);
}